apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: us-central1-docker.pkg.dev/ferrous-agency-467506-m8/my-app-repo/backend:v12
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: sql-credentials1
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: sql-credentials1
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: sql-credentials1
                  key: DB_PASS
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: sql-credentials1
                  key: DB_NAME
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 5000
